<div class="container-md">
    <br>
    <h4>Ubicaciones</h4>
    <br>
    <ul class="list-unstyled">
        <li *ngFor="let propiedad of propiedades$ | async" class="media">
            <svg class="bd-placeholder-img mr-3" width="64" height="64" xmlns="http://www.w3.org/2000/svg"
                preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 64x64">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6"
                    dy=".3em">64x64</text>
            </svg>
            <div class="media-body">
                <h5 class="mt-0 mb-1">{{propiedad.titulo}}</h5>
                {{propiedad.descripcion}}
            </div>
        </li>
    </ul>
</div>
