<br>
<div class="container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Nueva persona</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form class="example-form" [formGroup]="personaForm">
                <mat-form-field class="example-full-width">
                    <mat-label>Nombre</mat-label>
                    <input required matInput formControlName="name" placeholder="Nombre" >
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Apellido</mat-label>
                    <input required matInput formControlName="surname" placeholder="Nombre" >
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Email</mat-label>
                    <input required matInput formControlName="email" placeholder="Nombre" >
                </mat-form-field>
                <button mat-raised-button color="primary" (click)="onClickSavePersona()">Gurardar</button>  
            </form>
        </mat-card-content>
        <mat-card-actions>
            
        </mat-card-actions>
    </mat-card>
    <br>
    <mat-divider></mat-divider>
    <br>
    <mat-card>
        <table mat-table [dataSource]="personas" class="mat-elevation-z8">

            <ng-container matColumnDef="nro">
                <th mat-header-cell *matHeaderCellDef>  </th>
                <td mat-cell *matCellDef="let element; let i = index;">
                    <button mat-icon-button (click)="onEditPerson(element)">
                        <fa-icon [icon]="iconEdit"></fa-icon>
                    </button>
                    <button mat-icon-button (click)="onRemovePerson(element)">
                        <fa-icon [icon]="iconRemove"></fa-icon>
                    </button>
                </td>
            </ng-container>
    
            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="surname">
                <th mat-header-cell *matHeaderCellDef> Apellido </th>
                <td mat-cell *matCellDef="let element"> {{element.surname}} </td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-card>
</div>
<br>